*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Mulish', sans-serif;
}
h2{
    color: #e8bebe;
    margin: 40px auto 80px;
    font-size: 35px;
    text-align: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding: 50px;
    background: #23272b;
}
.countdown{
    display: flex;
    gap: 30px;
}
.countdown > div{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 160px;
}
.countdown p {
    font-size: 16px;
    text-transform: uppercase;
    color: #e8bebe;
}
.day, .hour, .minutes, .seconds{
    color:rgb(255, 131, 117);
    background: rgb(59, 69, 85);
    width: 85px;
    height: 80px;
    font-size: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 610px){
    .countdown{
        gap: 5px;
    }
}
@media screen and (max-width: 530px){
    .countdown{
        justify-content: space-between;
    }
    .day, .hour, .minutes, .seconds{
        width: 55px;
        height: 55px;
        font-size: 35px;  
    }
    .countdown > div{
        height: 110px;
        padding: 5px;
        justify-content: center;
    }
    .countdown p {
        font-size: 12px;
        margin-top: 10px;
    }
}

