*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: 'Mulish', sans-serif;
}

h2{
    color: #e8bebe;
    margin: 40px auto;
    font-size: 35px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding: 50px;
    gap: 60px;
    background: #23272b;
}
.countdown{
    display: flex;
    gap: 30px;
}
.countdown > div{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 160px;
}
.countdown p {
    font-size: 16px;
    text-transform: uppercase;
    color: #e8bebe;
}
.day, .hour, .minutes, .seconds{
    color:rgb(255, 131, 117);
    background: rgb(59, 69, 85);
    width: 85px;
    height: 80px;
    font-size: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 935px){
    .countdown > div{
        width: 150px;
    }
}

@media screen and (max-width: 722px) {
    .countdown > div{
        width: 100px;
        padding: 10px;
        height: 130px;
    }
}

@media screen and (max-width: 522px){
    .day, .hour, .minutes, .seconds{
        width: 65px;
        height: 60px;
        font-size: 40px;
    }
    .countdown{
        gap: 10px;
    }
    .countdown > div{
        height: 110px;
    }
    .countdown p {
        font-size: 13px;
    }
}

@media screen and (max-width: 448px){
    .day, .hour, .minutes, .seconds{
        width: 45px;
        height: 40px;
        font-size: 23px;
        margin-bottom: 15px;
    }
    .countdown > div{
        width: 70px;
        padding: 10px;
        height: 90px;
    }
    .countdown p {
        font-size: 11px;
    }
}